* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*--------------------------------------------------------------
# Forms, Buttons
--------------------------------------------------------------*/
.bftpro-front-form fieldset {
    border: none !important;
}

.bftpro-front-form.bftpro-horizontal {
    display: block;
    overflow: hidden;
    width: 100%;
}

.bftpro-front-form.bftpro-vertical {
    display: block;
    overflow: hidden;
    width: 100%;
}

.bftpro-inline-label .bftpro-form-group,
.bftpro-block-label .bftpro-form-group {
    margin-bottom: 0.626rem;
    display: block;
    width: 100%;
}

.bftpro-front-form.bftpro-inline-label label {
    text-align: right;
    margin-right: 0.313rem;
    vertical-align: middle;
}

.bftpro-front-form.bftpro-inline-label .bftpro-radio label {
    vertical-align: top;
}

.bftpro-front-form.bftpro-block-label label {
    display: block;
    margin-bottom: 0.313rem;
}

.bftpro-front-form .radio label, .bftpro-front-form .checkbox label {
    vertical-align: top;
}

.bftpro-front-form .bftpro-form-group ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 0 !important;
    display: inline-block;
    vertical-align: text-bottom;
}

.bftpro-front-form .bftpro-form-group ul li {
    list-style: none !important;
}

.bftpro-front-form.bftpro-vertical.bftpro-inline-label input[type="submit"] {
    margin-left: 0;
}

.bftpro-front-form input[type="radio"], .bftpro-front-form input[type="checkbox"] {
    margin-right: 0.313rem;
}

.bftpro-front-form fieldset {
    margin: 1rem 0;
    padding: 1rem;
}

.bftpro-front-form button,
.bftpro-front-form input[type="button"],
.bftpro-front-form input[type="reset"],
.bftpro-front-form input[type="submit"] {

}

.bftpro-front-form input[type="text"],
.bftpro-front-form input[type="email"],
.bftpro-front-form input[type="url"],
.bftpro-front-form input[type="password"],
.bftpro-front-form input[type="search"],
.bftpro-front-form input[type="number"],
.bftpro-front-form input[type="tel"],
.bftpro-front-form input[type="range"],
.bftpro-front-form input[type="date"],
.bftpro-front-form input[type="month"],
.bftpro-front-form input[type="week"],
.bftpro-front-form input[type="time"],
.bftpro-front-form input[type="datetime"],
.bftpro-front-form input[type="datetime-local"],
.bftpro-front-form input[type="color"] {
    width: 100% !important;
}

textarea {
    width: auto;
}

/* Block or inline submit button div - from visual designer */
.bftpro-form-group.bftpro-btn-block {
    display: block !important;
    width: 100% !important;
}

.bftpro-form-group.bftpro-btn-inline {
    display: table-cell !important;
}

/**
* Unsubscribe form
*/

.bftpro-unsubscribe ul {
	list-style-type: none;
}


/**
 * Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/**
 *  >= 480px
 */
@media only screen and (min-width: 30rem) {
    .bftpro-front-form {
        font-size: 90%;
    }
}

/**
 *  >= 600px
 */
@media only screen and (min-width: 37.5rem) {
    .bftpro-front-form {
        font-size: 100%;
    }

    .bftpro-front-form.bftpro-horizontal {
        display: inline-table;
        border-collapse: separate;
        border-spacing: 0.5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }

    .bftpro-vertical .bftpro-form-group {
        width: auto !important;
    }

    .bftpro-horizontal .bftpro-form-group {
        display: table-cell;
        margin-bottom: 0.626rem;
        width: calc(50% - 0.626rem) !important;
    }

    .bftpro-horizontal .bftpro-form-group:nth-of-type(2n+1) {
        margin-right: 0.626rem !important;
    }

    .bftpro-horizontal .bftpro-form-group:nth-of-type(2n) {
        margin-right: 0rem !important;
    }

    .bftpro-front-form input[type="text"],
    .bftpro-front-form select {
        max-width: 18.75em;
    }

    /* horizontal, inline-label */
    .bftpro-horizontal.bftpro-inline-label .bftpro-form-group {
        vertical-align: middle;
    }

    .bftpro-horizontal.bftpro-inline-label label {
        display: inline-block;
        width: calc(33% - 0.626rem);
    }
    .bftpro-horizontal.bftpro-inline-label input[type="text"],
    .bftpro-horizontal.bftpro-inline-label select {
        width: 65% !important;
    }

    .bftpro-horizontal.bftpro-inline-label input[type="submit"], .bftpro-vertical.bftpro-inline-label input[type="image"] {
        margin-left: calc(35% - 0.313rem) !important;
    }

    .bftpro-horizontal.bftpro-inline-label .bftpro-checkbox label{
        margin-left: calc(35% - 0.313rem) !important;
        width: 65% !important;
        text-align: left;
    }

    .bftpro-checkbox input[type="checkbox"] {
        margin-left: 0 !important;
    }

    .bftpro-horizontal.bftpro-inline-label .bftpro-radio ul > li > label {
        margin-left: calc(35% + 0.313rem) !important;
        width: 100% !important;
        text-align: left;
    }

    /* horizontal, block-label */
    .bftpro-horizontal.bftpro-block-label .bftpro-form-group {
        vertical-align: bottom;
    }

      /* vertical, inline-label */
    .bftpro-vertical.bftpro-inline-label label {
        width: 25%;
        display: inline-block;
    }
    .bftpro-vertical.bftpro-inline-label input[type="text"] {
        width: calc(75% - 0.626rem) !important;
        display: inline-block;
    }
    .bftpro-vertical.bftpro-inline-label input[type="submit"], .bftpro-vertical.bftpro-inline-label input[type="image"] {
        margin-left: calc(25% + 0.626rem) !important;
    }

    .bftpro-vertical.bftpro-inline-label .bftpro-checkbox label{
        margin-left: calc(25% + 0.626rem) !important;
        width: 75% !important;
        text-align: left;
    }

    .bftpro-vertical.bftpro-inline-label .bftpro-radio ul > li > label {
        margin-left: calc(0% + 0.313rem) !important;
        width: 100% !important;
        text-align: left;
    }

    /* vertical, block-label */
    .bftpro-vertical.bftpro-block-label input[type="text"] {
        width: 100% !important;
    }
}
/**
 *  >= 910px
 */
@media screen and (min-width: 56.875rem) {

}